title = content_for(:title) || "My Money"
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag 'application', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'core/theme/my-money-theme-core', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/optics-overrides/accordion', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/optics-overrides/card', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/optics-overrides/form', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/optics-overrides/layout', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/optics-overrides/navbar', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/optics-overrides/pagination', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/optics-overrides/table', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/button', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/page-header', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/home-page', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/report', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/year-overviews', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'components/devise/form', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'vendors/shoelace/sl-menu-item', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'vendors/shoelace/tokens', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'utilities/desktop-mobile', 'data-turbo-track': 'reload', media: 'all'
= stylesheet_link_tag 'utilities/hidden', 'data-turbo-track': 'reload', media: 'all'
= javascript_importmap_tags

meta content="width=device-width, initial-scale=1" name="viewport"
meta content="yes" name="apple-mobile-web-app-capable"
meta content="yes" name="mobile-web-app-capable"

link rel="icon" href="/favicon.ico" sizes="32x32"
link rel="icon" href="/favicon.svg" type="image/svg+xml"
link rel="manifest" href="/manifest.json"
