-# locals: (report:)

.card
  .card__header #{report.year} Monthly Summary

  .divider

  .card__body
    = render 'shared/monthly_breakdown_chart', report:

    .summary-stats
      .text-pair
        .text-title Highest Income
        .text-value = highest_month_summary(report.highest_income_month, :income)
      .text-pair
        .text-title Highest Expense
        .text-value = highest_month_summary(report.highest_expense_month, :expense)
      .text-pair
        .text-title Highest Profit
        .text-value = highest_month_summary(report.highest_profit_month, :profit)
