-# locals: (report:)

.card
  .card__header #{report.year} Summary

  .divider

  .card__body
    = render 'shared/weekly_profit_chart', report:

    .summary-stats
      .text-pair
        .text-title Total Income
        .text-value = humanized_money_with_symbol(report.total_income)
      .text-pair
        .text-title Total Expense
        .text-value = humanized_money_with_symbol(report.total_expense)
      .text-pair
        .text-title Total Balance
        .text-value = humanized_money_with_symbol(report.total_balance)
