.table {
  &.table--transactions {
    .table--transactions__type,
    .table--transactions__date {
      width: calc(30 * var(--op-size-unit)); /* 100px */
    }

    .table--transactions__actions {
      width: calc(18.75 * var(--op-size-unit)); /* 75px */
    }
  }

  .table__actions {
    display: flex;
    justify-content: end;

    gap: var(--op-space-medium);
  }
}
