.table-container {
  overflow-y: auto;
  max-height: 90%;
}

.table {
  &.table--transactions {
    .table--transactions__type,
    .table--transactions__date {
      width: calc(30 * var(--op-size-unit)); /* 100px */
    }

    .table--transactions__actions {
      width: calc(18.75 * var(--op-size-unit)); /* 75px */
    }

    .table--transactions__totals {
      display: flex;
      justify-content: end;
      gap: var(--op-space-medium);
      padding-inline: var(--op-space-medium);

    }

    .table--transactions__totals-pair {
      display: flex;
      flex-direction: column;
      gap: var(--op-space-2x-small);

      text-align: center;
    }

    td:has(.table--transactions__mobile-footer) {
      padding: 0;
    }

    .table--transactions__mobile-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--op-space-small);
      padding-block: var(--op-space-x-small);

      .pagination {
        padding-inline: 0;
      }
    }
  }

  .table__actions {
    display: flex;
    justify-content: end;

    gap: var(--op-space-medium);
  }
}
