.companies {
  --_mm-company-card-width: calc(var(--op-size-unit) * 60);

  display: grid;

  .companies__header {
    display: flex;
    justify-content: space-between;
    padding-top: var(--op-space-medium);
    padding-bottom: var(--op-space-3x-large);
  }

  .companies__list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: var(--op-space-medium);

    .company {
      display: flex;
      flex-direction: column;

      box-shadow: var(--op-border-all);
      border-radius: var(--op-radius-large);

      padding: var(--op-space-large);
      aspect-ratio: 1/1;
      width: var(--_mm-company-card-width);

      justify-content: space-between;

      .company__name {
        font-size: var(--op-font-x-large);
        font-weight: var(--op-font-weight-bold);
        text-align: center;
      }

      .company__switch-button {
        display: flex;
        justify-self: center;
      }

      .company__actions {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
