.home-page {
  display: grid;
  /* grid-template-areas:
    "header header"
    "yearly-summary monthly-summary"
    "tax-breakdown tax-breakdown";
  grid-template-columns: 1fr 1fr; */

  gap: var(--op-space-small);

  .home-page__header {
    display: flex;
    flex-direction: column;
    gap: var(--op-space-small);

    h1 {
      margin: 0;
    }

    p {
      max-width: var(--op-breakpoint-small);
    }
  }

  .home-page__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--op-space-small);


    .yearly-summary {
      display: flex;
      flex-wrap: wrap;
      gap: var(--op-space-medium);
      justify-content: center;
    }
  }
}
