.page-header {
  display: flex;
  padding-bottom: var(--op-space-medium);

  .page-header__item {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: fit-content;
    align-items: start;

    .btn {
      max-height: var(--__op-btn-height);
    }

    &:first-child {
      justify-content: start;
    }

    &:not(:first-child):not(:last-child) {
      justify-content: center;
    }

    &:last-child {
      justify-content: end;
    }
  }
}
