.page-header {
  display: flex;
  padding-bottom: var(--op-space-medium);

  >* {
    flex: 1;
    width: fit-content;

    &:first-child {
      display: flex;
      justify-content: start;
    }

    &:not(:first-child):not(:last-child) {
      display: flex;
      justify-content: center;
    }

    &:last-child {
      display: flex;
      justify-content: end;
    }
  }
}
