.page-header {
  display: flex;
  padding-bottom: var(--op-space-medium);

  .page-header__item {
    flex: 1;
    width: fit-content;
    align-items: center;

    .btn {
      max-height: var(--__op-btn-height);
    }

    &:first-child {
      display: flex;
      justify-content: start;
    }

    &:not(:first-child):not(:last-child) {
      display: flex;
      justify-content: center;
    }

    &:last-child {
      display: flex;
      justify-content: end;
    }

    &:first-child,
    &:not(:first-child):not(:last-child),
    &:last-child {
      @media (width <=768px) {
        &.desktop-only {
          display: none;
        }
      }
    }
  }
}
