.report {
  display: flex;
  flex-direction: column;

  gap: var(--op-space-large);
  padding: var(--op-space-2x-large);
  padding-block-start: var(--op-space-x-large);

  text-wrap: nowrap;

  .divider {
    inline-size: 100%;
  }

  .report__header {
    display: flex;
    align-items: center;
    gap: var(--op-space-medium);

    .report__header-title {
      font-size: var(--op-font-large);
      font-weight: var(--op-font-weight-medium);
    }

    .report__header-total {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-bold);
    }
  }

  .report__body {
    display: grid;
    gap: var(--op-space-small);

    padding-block-end: var(--op-space-large);
    box-shadow: 0 var(--op-border-width) var(--op-border-width) var(--op-border-width) var(--op-color-border);
  }
}

.report-column {
  display: grid;
  gap: var(--op-space-2x-small);
  padding-inline: var(--op-space-large);

  .report-row {
    display: flex;
    align-items: center;
    gap: var(--op-space-medium);

    .report-row__name {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-medium);
    }

    .report-row__total {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-bold);
    }

    &.report-row--small {
      .report-row__name {
        font-size: var(--op-font-small);
        font-weight: var(--op-font-weight-regular);
      }

      .report-row__total {
        font-size: var(--op-font-small);
      }
    }
  }
}
