.report {
  display: flex;
  flex-direction: column;

  gap: var(--op-space-large);
  padding: var(--op-space-2x-large);
  padding-block-start: var(--op-space-x-large);

  text-wrap: nowrap;

  .divider {
    inline-size: 100%;
  }

  .report__income {
    display: flex;
    align-items: center;
    gap: var(--op-space-medium);

    .report__income-title {
      font-size: var(--op-font-large);
      font-weight: var(--op-font-weight-medium);
    }

    .report__income-total {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-bold);
    }
  }

  .report__expenses {
    display: grid;
    gap: var(--op-space-small);

    .report__expense-category {
      display: grid;
      gap: var(--op-space-2x-small);
      padding-inline: var(--op-space-large);
    }
  }

  .report__category {
    display: flex;
    align-items: center;
    gap: var(--op-space-medium);

    .report__category-name {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-medium);
    }

    .report__category-amount {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-bold);
    }
  }

  .report__category-details {
    display: grid;
    gap: var(--op-space-2x-small);
    padding-inline: var(--op-space-large);

    .report__category-detail {
      display: flex;
      align-items: center;
      gap: var(--op-space-medium);

      .report__category-detail-name {
        font-size: var(--op-font-small);
        font-weight: var(--op-font-weight-regular);
      }

      .report__category-detail-amount {
        font-size: var(--op-font-small);
      }
    }
  }

  .report__expenses-total {
    display: flex;
    align-items: center;
    gap: var(--op-space-medium);

    .report__expenses-total-title {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-medium);
    }

    .report__expenses-total-amount {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-bold);
    }
  }
}
