/* CDN imports for external packages */
@import 'https://cdn.jsdelivr.net/npm/@rolemodel/optics@2.3.0/dist/css/optics.min.css';
@import 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/themes/light.css'; /* Import the Shoelace theme */
@import 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/themes/dark.css'; /* Import the Dark Shoelace theme */
@import 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css'; /* Import the Flatpickr theme */
@import 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/themes/dark.css'; /* Import the Dark Flatpickr theme */
