name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  scan_ruby:
    name: Scan Ruby
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  scan_js:
    name: Scan JavaScript
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

  lint:
    name: Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    name: Ruby Tests
    runs-on: ubuntu-latest
    env:
      CI: true
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432

    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y google-chrome-stable curl libjemalloc2 libvips

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Setup Database
        run: bundle exec rake db:test:prepare

      - name: Run non-system tests
        run: bundle exec rspec --exclude-pattern "spec/system/**/*_spec.rb" --format documentation --format RspecJunitFormatter --out tmp/rspec_ruby_results.xml

      - name: Publish Rspec Test Results
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          check_name: Ruby Test Results
          report_paths: tmp/rspec_ruby_results.xml
          detailed_summary: true
        env:
          GITHUB_STEP_SUMMARY: true

  system_test:
    name: System Tests
    runs-on: ubuntu-latest
    env:
      CI: true
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432

    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y google-chrome-stable curl libjemalloc2 libvips

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Enable corepack
        run: corepack enable

      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - name: Yarn Install
        run: yarn install --frozen-lockfile

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Build assets
        run: yarn build

      - name: Setup Database
        run: bundle exec rake db:test:prepare

      - name: Run system tests
        run: bundle exec rspec spec/system --format RspecJunitFormatter --out tmp/rspec_system_results.xml


      - name: Publish System Test Results
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          check_name: System Test Results
          report_paths: tmp/rspec_system_results.xml
          detailed_summary: true
        env:
          GITHUB_STEP_SUMMARY: true

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: tmp/capybara

      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: system-logs
          path: log
